
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <%= stylesheet_link_tag    "horizontal" %>
        <title>The Real Michael Schumacher</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="pageHeader">
                <h1>The Real Michael Schumaker</h1>
            </div>

            <div id="linkList">
                <h3>Helpful Links</h3>
                <ul>
                    <li><a href="#">Compassion</a></li>
                    <li><a href="#">Wisdom</a></li>
                    <li><a href="#">Power</a></li>
                    <li><a href="#">Humility</a></li>
                    <li><a href="#">Truth</a></li>
                    <li><a href="#">Beauty</a></li>
                </ul>
            </div>


            <div id="mainText">
                <div id="firstText">
                <h2>At home with Michael</h2>
                <p>
                    His wife came into the room with the tea things on a tray. She placed the plate of angel cakes on the
                    table beside me. “Michael made these himself”, she said with a degree of pride, “he’s always had a flair
                    for the more delicate pastries”. She apologised for Michael’s late arrival. He was just finishing off a
                    couple of jobs in the study; his “den” as she called it. We talked a little about their relationship, she
                    recalling their first meeting. “We had just moved into the same road as Michael’s family. Then one
                    day, Michael slightly mis judged a bend in the road on his push-bike, and took out one of the gate posts
                    at the end of our drive. He came round to apologise, but I was the only one in. You should have seen
                    him blush when I opened the door – I don’t think he’d spoken to a girl before”. Since then, they had
                    been inseparable: “I honestly think Michael’s determination to succeed is his way of showing me how
                    much he loves me”.
                </p>
                <p>
                    Michael bounded through the door and shook me warmly by the hand. I started to introduce myself and
                    tell him what I was wanting from the interview. “No need to stand on ceremony” he said, grinning
                    cheerfully. “Sit down and let me pour you some more tea. Do you like the cakes? Light aren’t they?
                    The trick is in the wrist movement as you beat the butter into the flour. Oh, and not to start with the
                    butter too cold. That way you don’t have to work the mixture too hard to get it to blend”. He
                    apologised profusely for his late arrival, still grinning boyishly and giving his wife an affectionate
                    squeeze. “Yes, I was sorting through my butterfly collection. It’s a shame collecting is so frowned upon
                    nowadays. I really think that it is the only way you can really get to know insects. Fortunately, I
                    inherited my grandfather’s entire entomological collection, so I can indulge my hobby without
                    compromising my environmentalist credentials”. He laughed, and gave his wife another squeeze.
                </p>
                </div>

                <div id="secondText">
                <h2>The interview starts</h2>
                <p>
                    I thought I had better make a move with the more formal interview. “So, how do you reconcile your
                    concern for the environment with working in a profession that is ostensibly so at odds with the whole
                    environmental movement”. I thought I might be coming in a bit hard for an opening question, but he
                    seemed prepared for it. “Well, a lot of people have asked me this, and I have to say that I have given it
                    a lot of thought over the years. I think part of it is the competitive nature that seems inherent in
                    humankind. Of course, one can try and subjugate this to a certain extent, in favour of more altruistic
                    goals. But even then, there is an, as it were, collective will amongst the human race to achieve. And
                    these competitive activities between individuals, or groups of individuals in my case – motor racing is
                    very much a matter of team-work, are just a mechanism for driving technological advances. I really
                    think it is this striving for advancement that gives human kind its purpose. Yes, of course we need to
                    strike a balance between human advancement and care for the natural world. But I really don’t think
                    you can achieve this by suppressing our very natural desire to explore and push forward the frontiers of
                    the physical and intellectual universes”.
                </p>
                <p>
                    “So you see Formula 1 racing as a very necessary vehicle for developing technology for the motor
                    industry?”
                </p>
                <p>
                    “Oh no, Formula 1 racing has nothing at all to do with proving technology for conventional modes of
                    transport. Sure, there has been some spin off in the past and there may still be some kit that can be re-
                    used for road cars. But that’s not the point. It’s a matter of taking an idea and just seeing how far you
                    can push it. There doesn’t have to be any other reason. It’s like you’re an explorer in a technological
                    space”.
                </p>
                </div>

                <div id="thirdText">
                <h2>Michael on emotional control</h2>
                <p>
                    I was getting wrapped up in Michael’s warmth and enthusiasm, and was finding it hard to reconcile this
                    view of his character with the rather hard, calculating, brutally aggressive nature that he was so often
                    accused of. “It’s a difficult one this”, he smiled, “Really my job is about controlled aggression. And at
                    our level when one is working at ten-tenths all the time, one can occasionally just tip the balance. Like
                    sometimes you make a mistake in the mechanical control of the car, sometimes you just make an
                    emotional mistake. But it’s not that I don’t respect my fellow drivers. Indeed, I could truthfully say I
                    love them. It’s just that, like a mother with a naughty child, sometimes the people you most love are the
                    people you get most angry with. It’s that same tension between love and violence that is such a focal
                    point of Bram Stoker’s Dracula”.
                </p>
                <p>
                    “Yes, Michael can sometimes get just a tad aggressive when we are having sex”, his wife interjected
                    with a hint of excitement in her expression.
                </p>
                <p>
                    “Damon (Hill) is a case in point. I love him like he was my own brother. It’s just that he kept doing
                    such damned stupid things in trying to overtake me when he hadn’t got a chance in hell. Then out of
                    frustration I would try and teach him to have a little more respect. But at heart, all I was trying to do
                    was help him be a better person. Help him to do his best, even if it was never going to be up to my own
                    standards”.
                </p>
                <p>
                    Michael was beginning to tense up a little, and suddenly noticed his grip was leaving a bit of a mark on
                    his wife’s wrist. He looked at her, trying to re-attract her averted eyes. After a couple of nervous
                    glances, her eyes settled on his and they both began to relax back into their warm, smiling old selves.
                </p>
                <p>
                    “Well”, said Michael, “we’ve been talking quite a while now. I’d better make a start on getting supper
                    together. I don’t want to be too late to bed as I’ve got a mid-morning flight to race practice and I want
                    to get up in time for a couple of hours painting before I leave. The morning light is so calming at this
                    time of year, and I want to try and capture something of my emotional response to the Mediterranean
                    Dawn”.
                </p>
                </div>

            </div>

            <div id="backgroundText">
                <h3>Background</h3>
                <p>
                    This was written in 1998 at a time when Britain's Damon Hill
                    was trying hard to break the emerging dominance of Michael Schumaker
                    in Formula 1 motor racing. Schumaker was gaining a reputation as fiercely
                    determined, almost machine like and willing to use quite brutal tactics
                    to maintain his position. The idea here was to imagine there was a more sensitive
                    side to his nature in extreme contrast to the public image. This is an often
                    used method of bringing a little humour into a situation. The fact that both
                    people who read this found it amusing suggests this technique can sometimes work.
                </p>
            </div>

            <div id="footer">
                Paul Krause asserts his moral right to be identified as author of this: 29th July 98.
            </div>
        </div>


    </body>
</html>
