<!DOCTYPE html>
<html>
<head>
  <title>jQuery Magic</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
      $(function() {
          $('#myTitle')
                  .bind('mouseover', function(event) {
                      $("<p class='bear'>Start of further details</p><p class='bear'>End of further details</p>")
                              .appendTo("#myParentDiv");
                  })
      })
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
